Coursera-SwiftKey.zip
.Rproj.user/
Coursera-SwiftKey/
*.RData

Task-2--Exploratory-Data-Analysis_files/figure-html/unnamed-chunk-6-1.png
Task-2--Exploratory-Data-Analysis_files/figure-html/unnamed-chunk-7-1.png
rsconnect/
