Coursera-SwiftKey.zip
.Rproj.user/5F8EB74F/pcs/files-pane.pper
.Rproj.user/5F8EB74F/pcs/source-pane.pper
.Rproj.user/5F8EB74F/pcs/windowlayoutstate.pper
.Rproj.user/5F8EB74F/pcs/workbench-pane.pper
.Rproj.user/5F8EB74F/sources/prop/A16EC814
.Rproj.user/5F8EB74F/sources/prop/B0B504CA
.Rproj.user/5F8EB74F/sources/prop/INDEX
.Rproj.user/5F8EB74F/sources/session-1bd54bdb/2BD134A4-contents
.Rproj.user/5F8EB74F/sources/session-1bd54bdb/8F2FBBB8
.Rproj.user/5F8EB74F/sources/session-1bd54bdb/8F2FBBB8-contents
.Rproj.user/5F8EB74F/sources/session-1bd54bdb/077DB10C
.Rproj.user/5F8EB74F/sources/session-1bd54bdb/077DB10C-contents
.Rproj.user/5F8EB74F/sources/session-1bd54bdb/AC93BE46
.Rproj.user/5F8EB74F/sources/session-1bd54bdb/AC93BE46-contents
.Rproj.user/5F8EB74F/sources/session-1bd54bdb/BD0917B1-contents
.Rproj.user/5F8EB74F/sources/session-1bd54bdb/C2EAF38F
.Rproj.user/5F8EB74F/sources/session-1bd54bdb/C2EAF38F-contents
.Rproj.user/5F8EB74F/sources/session-1bd54bdb/E44B21D0
.Rproj.user/5F8EB74F/sources/session-1bd54bdb/E44B21D0-contents
.Rproj.user/5F8EB74F/sources/session-1bd54bdb/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/5F8EB74F1bd54bdb/chunks.json
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/5F8EB74F1bd54bdb/cas8rgqs3ia83/000055.csv
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/5F8EB74F1bd54bdb/cas8rgqs3ia83/execution.lock
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/5F8EB74F1bd54bdb/cas8rgqs3ia83/migration.target
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/5F8EB74F1bd54bdb/cas8rgqs3ia83_t/execution.lock
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/5F8EB74F1bd54bdb/cas8rgqs3ia83_t/migration.target
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/chunks.json
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/cas8rgqs3ia83/00004a.html
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/cas8rgqs3ia83/00004a.json
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/cas8rgqs3ia83/00004a.metadata
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/cas8rgqs3ia83/000049.csv
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/csetup_chunk/000011.csv
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/czas6njw39g96/00000f.csv
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/bootstrap-theme.css
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/bootstrap-theme.css.map
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/bootstrap-theme.min.css
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/bootstrap.css
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/bootstrap.css.map
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/bootstrap.min.css
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/cerulean.min.css
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/cosmo.min.css
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/darkly.min.css
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/flatly.min.css
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/journal.min.css
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/lumen.min.css
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/paper.min.css
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/readable.min.css
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/sandstone.min.css
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/simplex.min.css
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/spacelab.min.css
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/united.min.css
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/yeti.min.css
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/fonts/Lato.ttf
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/fonts/LatoBold.ttf
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/fonts/LatoItalic.ttf
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/fonts/NewsCycle.ttf
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/fonts/NewsCycleBold.ttf
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/fonts/OpenSans.ttf
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/fonts/OpenSansBold.ttf
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/fonts/OpenSansBoldItalic.ttf
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/fonts/OpenSansItalic.ttf
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/fonts/OpenSansLight.ttf
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/fonts/OpenSansLightItalic.ttf
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/fonts/Raleway.ttf
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/fonts/RalewayBold.ttf
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/fonts/Roboto.ttf
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/fonts/RobotoBold.ttf
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/fonts/RobotoLight.ttf
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/fonts/RobotoMedium.ttf
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/fonts/SourceSansPro.ttf
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/fonts/SourceSansProBold.ttf
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/fonts/SourceSansProItalic.ttf
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/fonts/SourceSansProLight.ttf
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/css/fonts/Ubuntu.ttf
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.eot
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.svg
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.ttf
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.woff
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.woff2
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/js/bootstrap.js
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/js/bootstrap.min.js
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/js/npm.js
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/shim/html5shiv.min.js
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/bootstrap-3.3.5/shim/respond.min.js
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/jquery-3.6.0/jquery-3.6.0.js
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/jquery-3.6.0/jquery-3.6.0.min.js
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/jquery-3.6.0/jquery-3.6.0.min.map
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/kePrint-0.0.1/kePrint.js
.Rproj.user/shared/notebooks/23006FAA-Task 2 -Exploratory Data Analysis/1/s/lib/lightable-0.0.1/lightable.css
Coursera-SwiftKey/final/de_DE/de_DE.blogs.txt
Coursera-SwiftKey/final/de_DE/de_DE.news.txt
Coursera-SwiftKey/final/de_DE/de_DE.twitter.txt
Coursera-SwiftKey/final/en_US/en_US.blogs.txt
Coursera-SwiftKey/final/en_US/en_US.news.txt
Coursera-SwiftKey/final/en_US/en_US.twitter.txt
Coursera-SwiftKey/final/fi_FI/fi_FI.blogs.txt
Coursera-SwiftKey/final/fi_FI/fi_FI.news.txt
Coursera-SwiftKey/final/fi_FI/fi_FI.twitter.txt
Coursera-SwiftKey/final/ru_RU/ru_RU.blogs.txt
Coursera-SwiftKey/final/ru_RU/ru_RU.news.txt
Coursera-SwiftKey/final/ru_RU/ru_RU.twitter.txt
